extends layout
block content
    .container 
        .row 
            each data in db
                .col-lg-3.col-md-4.col-sm-6
                    .card 
                        .card-img(dataId= "/add/product/"+data.id) 
                            img(src= "images/"+ data.img, alt="")
                            p.saleing=  data.sale
                                | %
                        .card-text 
                            h3= data.title 
                            .price_box
                                //- p.price= p 
                                //-     |  Sum 
                                //- p.price= data.price 
                                if data.sale 
                                    p.sale= p
                                        |  Sale
                                    p.sale= data.price - (data.price * data.sale / 100)
                            .card_bottom 
                                p.date= data.dataTime.toLocaleDateString() 
                                    i.far.fa-calendar-alt 
                                p.category=  data.category