.navbars 
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href='/') auto.uz
            form.d-flex.formFor
                input.form-control.me-2(type='search' placeholder='Qidirish' aria-label='Search')
                button.btn.search-btn(type='submit') Qidiruv
            .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item
           
                a.nav-link(href='/register') Royhatdan otish
                a.nav-link(href='/register/login') kirsh
           
                a.nav-link(href='/add') Mahsulot qoshish  
                a.nav-link(href="register/logout") chiqish 

